@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  src: 
        url('../fonts/mulish-v10-latin-regular.woff2') format('woff2'), 
        url('../fonts/mulish-v10-latin-regular.woff') format('woff'); 
}