.header__nav {

.header__list {
  display: flex;
  list-style-type: none;
 
}

.nav__nav-link {
  
  text-decoration: none;
  font-family: "Paytone One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  margin-right: 30px;
}
.header__item {
  margin-top: 17px;
  
}


}